@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Rubik";
    font-style: light;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Rubik.ttf) format("truetype");
  }
  @font-face {
    font-family: "Gabarito";
    font-style: light;
    font-weight: 200;
    font-display: swap;
    src: url(../assets/fonts/Gabarito.ttf) format("truetype");
  }
  @font-face {
    font-family: "Dosis";
    font-style: light;
    font-weight: 200;
    font-display: swap;
    src: url(../assets/fonts/Dosis.ttf) format("truetype");
  }
  @font-face {
    font-family: "Iosevka";
    font-style: light;
    font-weight: 200;
    font-display: swap;
    src: url(../assets/fonts/Iosevka.ttf) format("truetype");
  }

  .bgDark {
    @apply bg-gradient-to-br from-b0 to-b1 -z-10;
  }

  .bgLight {
    @apply bg-gradient-to-br from-b4 to-b5 -z-10;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  * {
    @apply transition-colors duration-500 scrollbar-hide;
  }

  .content-container {
    @apply mx-8 md:mx-80 my-40 flex flex-col;
  }
  .section {
    @apply mx-2 my-4 flex flex-col;
  }
  .section-bg {
    @apply dark:bg-b1/40 bg-b4/40 backdrop-blur-lg rounded p-8 mx-2 my-4 flex flex-col;
  }
  .section-outline {
    @apply border-b4/40 dark:border-b1/40 backdrop-blur-lg border-2 rounded-lg p-8 mx-2 my-4 flex flex-col;
  }

  h1 {
    @apply text-b0 dark:text-b5 text-3xl my-1;
  }

  h2 {
    @apply text-b0 dark:text-b5 text-2xl my-1;
  }

  b {
    @apply text-b0 dark:text-b5;
  }

  p {
    @apply text-b2 dark:text-b3 text-xl my-2 text-wrap;
  }

  li {
    @apply m-2 text-xl text-b1 dark:text-b4;
  }

  li b {
    @apply text-blue-light dark:text-blue;
  }

  a {
    @apply text-b2 dark:text-b3;
  }

  .alt {
    @apply text-b2 dark:text-b3;
  }

  .flex-container {
    @apply flex flex-row justify-start items-center flex-wrap;
  }
  .post-container {
    @apply flex flex-col border-solid rounded border-2;
  }
  .tag-container {
    @apply dark:bg-b1 bg-b4 border-b3 dark:border-b2 text-blue-light dark:text-blue mx-8 px-2 py-1 text-lg border-solid border-2 rounded;
  }
  .skill-container {
    @apply font-mono m-2 text-b1 dark:text-b4 bg-b4 dark:bg-b1 border-2 rounded p-2 border-b3 dark:border-b2 min-w-14 flex justify-center;
  }
  .icon-container {
    @apply text-b1 dark:text-b4 hover:text-blue-light dark:hover:text-blue text-3xl m-2;
  }

  .markdown {
    @apply text-b1 dark:text-b4 font-['Dosis'];
  }

  .markdown h1 {
    @apply font-sans text-4xl font-bold my-4;
  }
  .markdown h2 {
    @apply font-sans text-3xl font-bold my-4;
  }
  .markdown h3 {
    @apply font-sans text-2xl font-bold my-4;
  }
  .markdown h4 {
    @apply font-sans text-xl font-bold my-4;
  }
  .markdown h5 {
    @apply font-sans text-lg font-bold my-4;
  }
  .markdown h6 {
    @apply font-sans text-base font-bold my-4;
  }
  .content pre {
    @apply p-8 font-mono my-8 rounded-lg bg-b3 dark:bg-b2;
  }
  .content code {
    @apply px-0;
  }
  .markdown p {
    @apply font-sans;
  }
  .markdown a {
    @apply font-sans text-blue hover:underline;
  }
  .markdown ul {
    @apply list-disc ml-4 my-2 marker:text-b1 dark:marker:text-b4;
  }
  .markdown ol {
    @apply list-decimal ml-4 my-2 marker:text-b1 dark:marker:text-b4;
  }
}
