@import url("./Global.css");

h1 {
  font-family: "Roboto Condensed";
  font-size: 24px;
  color: var(--color-b5);
}

h2 {
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-weight: 400;
  color: var(--color-b5);
}

hr {
  width: 100%;
  color: var(--color-b3);
  background-color: var(--color-b3);
}

p {
  font-family: "Roboto Condensed";
  font-size: 20px;
  color: var(--color-b4);
  margin-top: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-size: 20px;
  color: var(--color-blue);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  font-family: "Roboto Condensed";
  color: var(--color-b4);
}

img {
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 100%;
}

iframe {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 800px;
  width: 100%;
}

li b {
  color: var(--color-red);
}

code {
  font-family: "Iosevka";
  background-color: var(--color-b0);
  padding: 2px;
}

button {
  background: var(--color-b0);
  color: var(--color-b5);
  border: none;
  padding: 8px;
  font: "Roboto Condensed";
  font-size: 16px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

button:hover {
  background: var(--color-blue);
  color: var(--color-b0);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--color-b0);
  color: var(--color-b5);
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 32px;
  resize: none;
  overflow: hidden;
  font-family: "Iosevka";
  line-height: 40px;
}

input {
  background: var(--color-b0);
  color: var(--color-b5);
  border: none;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font: "Roboto Condensed";
  font-size: 16px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.background {
  min-height: 100vh;
  background: var(--color-b0);
}

.l-container {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  flex: 3;
}

@media screen and (max-width: 900px) {
  .l-container {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

.r-container {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 900px) {
  .r-container {
    margin-top: 0px;
    margin-left: 16px;
  }
}

.h-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .h-container {
    display: flex;
    flex-direction: column;
  }
}

.section {
  margin: 16px;
  padding: 20px;
  background-color: var(--color-b1);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.contact-group {
  margin-top: 8px;
  margin-bottom: 8px;
}

.contact-icon {
  color: var(--color-b5);
  size: 60px;
  margin-right: 8px;
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-l {
  display: flex;
  flex-direction: column;
}

.skill-l li {
  color: var(--color-blue);
}

.skill-m {
  display: flex;
  flex-direction: column;
}

.skill-m li {
  color: var(--color-lightblue);
}

.skill-m {
  display: flex;
  flex-direction: column;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.display-container {
  background: var(--color-b0);
  max-width: 100%;
  max-height: 40vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.display-text {
  font-family: "Iosevka";
  font-size: 32px;
  color: var(--color-b5);
  margin: 8px;
}

.display-text-error {
  font-family: "Iosevka";
  font-size: 32px;
  color: var(--color-red);
  margin: 8px;
}

.display-text-finish {
  font-family: "Iosevka";
  font-size: 32px;
  color: var(--color-blue);
  margin: 8px;
}

select {
  background: var(--color-b0);
  color: var(--color-b5);
  border: none;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font: "Roboto Condensed";
  font-size: 16px;
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--shadow);
  box-shadow: var(--shadow);
}

.chart {
  color: var(--color-b5);
  stroke: var(--color-b5);
  font-family: "Roboto Condensed";
  font-size: 16px;
}

.chartLine {
  color: var(--color-blue);
}
